
<% if flash[flash_key] %>
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="alert <%= alert_class %>" role="alert">
        <%= sanitize flash[flash_key], tags: ['code', 'strong'] %>
      </div>
    </div>
    <div class="col"></div>
  </div>
<% end %>
