
<% if flash[flash_key] %>
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="alert <%= alert_class %> alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Dismiss">
          <span aria-hidden="true">&times;</span>
        </button>

        <%= sanitize flash[flash_key], tags: ['code', 'strong'] %>
      </div>
    </div>
    <div class="col"></div>
  </div>
<% end %>
