
<table class='table detected-nodes-table'>
  <thead>
    <tr>
      <th>Detected MAC address</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody
    ic-poll="1s"
    ic-src="<%= new_detected_node_rows_hunter_path %>"
    ic-swap-style="append"
  >
    <% @new_detected_macs.each_with_index do |mac, index| %>
      <%= render 'detected_node_row', mac: mac, index: index %>
    <% end %>
  </tbody>
</table>

